language: go

go:
  - "1.15.x"

script:
  - go mod tidy
  - git diff --exit-code --quiet || (echo "Please run 'go mod tidy' to clean up the 'go.mod' and 'go.sum' files."; false)
  - go vet ./...
  - go test ./...

# Create a release using goreleaser when tests pass and revision is tagged.
deploy:
- provider: script
  skip_cleanup: true
  script: make release
  on:
    tags: true
    go: "1.15.x"
