.signal{
	stroke: :black;
	fill: black;
}

.no-signal{
	stroke: :black;
	stroke-width:2px;
	fill: white;
}

.signal-value-div{
	display:inline-block;
	width:30px;
	text-align:right;
}

.svg-signal{
	width:40px;
}