<service-group>
  <name replace-wildcards="yes">%h</name>
  <service protocol="ipv4">
    <type>_cacophonator-management._tcp</type>
    <port>80</port>
  </service>
</service-group>
