<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Audio Recording</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>

    <body>
        {{template "navbar"}}

        <div class="container">
            {{if ne .ErrorMessage ""}}
            <div class="alert alert-danger">
                {{.ErrorMessage}}
            </div>
            {{end}}
    
            {{if ne .Message ""}}
            <div class="alert alert-success">
                {{.Message}}
            </div>
            {{end}}
    
            <div class="container pt-5 pl-0">
                <h2>Audio Recording<br></h2>
            </div>
            <hr>
            <form id = "audio-recording-form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="audio-mode-select">Select an Audio Mode</label>
                        <select name="auio-mode-select" id="audio-mode-select" onchange="handleModeChange()">
                            <option value="Disabled" {{ if eq "Disabled" .AudioRecording.AudioMode }} selected="selected"{{ end }}
                            >Disabled</option>
                            <option value="AudioOnly" {{ if eq "AudioOnly" .AudioRecording.AudioMode }} selected="selected"{{ end }}>Audio Only</option>
                            <option value="AudioOrThermal" {{ if eq "AudioOrThermal" .AudioRecording.AudioMode }} selected="selected"{{ end }}>Audio or Thermal</option>
                            <option value="AudioAndThermal" {{ if eq "AudioAndThermal" .AudioRecording.AudioMode }} selected="selected"{{ end }}>Audio and Thermal</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col w-100" >
                    <div class="col-3">
                        <button id="audio-test-button" onclick="takeTestRecording(this)" class="btn btn-primary mb-4" {{if eq .AudioRecording.AudioMode "Disabled"}} disabled {{else}} enabled {{end}}>Take Test Recording</button>
                    </div>
                    <div class="col-3">
                        <label id="audio-test-status"></label>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="/static/js/audiorecording.js"></script>
        
        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
     

    </body>
</html>
