<!DOCTYPE html>
<html lang="en">
<head>
  <title>Disk Memory</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <div class="container">
        <h2>Disk And Memory Statistics:<br></h2>
    </div>
    <h3>Disk:</h3>
    <div class="well">
        {{range .Strings}}
            <h4>{{.Text}}<h4>
        {{end}}
    </div>
    <h3>Memory:</h3>
    <div class="well">
    <h4>Nothing here yet</h4>
    </div>


    </body>
</html>
