<!DOCTYPE html>
<html lang="en">

<head>
    <title>Location</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container">
        {{if ne .ErrorMessage ""}}
        <div class="alert alert-danger">
            {{.ErrorMessage}}
        </div>
        {{end}}

        {{if ne .Message ""}}
        <div class="alert alert-success">
            {{.Message}}
        </div>
        {{end}}

        <div class="container pt-5 pl-0">
            <h2>Device Location<br></h2>
        </div>
        <hr>

        <form id="location-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" class="form-control" name="latitude" placeholder="Enter latitude" value="{{.Location.Latitude}}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" class="form-control" name="longitude" placeholder="Enter longitude" value="{{.Location.Longitude}}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="timestamp">Timestamp</label>
                <input type="text" class="form-control" name="timestamp" placeholder="Enter timestamp" value="{{.Location.Timestamp}}" disabled>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="altitude">Altitude</label>
                <input type="text" id="altitude" class="form-control" name="altitude" placeholder="Enter altitude" value="{{.Location.Altitude}}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="accuracy">Accuracy</label>
                <input type="text" id="accuracy" class="form-control" name="accuracy" placeholder="Enter accuracy" value="{{.Location.Accuracy}}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <button type="button" value="update" onclick="updateLocation()" class="btn btn-primary">Update</button>
                <button type="button" value="clear" onclick="clearLocation()" class="btn float-right">Clear</button>
              </div>
            </div>
        </form>

    </div>

    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/location.js"></script>
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
