<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Network</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>

    <body>
        {{template "navbar"}}

        <div class="container">
            <div 
              id="resultMessage" class="alert alert-danger" {{if .ErrorEncountered}} style="display: block;" {{else}} style="display: none;" {{end}}> {{.ErrorMessage}}
            </div>
            <div class="container pt-5 pl-0" style="display: flex; align-items: baseline;">
                <h2 style="flex-grow: 1;">Network</h2>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="onlineCheck" {{if .Config.Online}} checked {{else}} unchecked {{end}} onclick="handleEnableChange(event)">
                    <label class="form-check-label" for="onlineCheck">Enabled</label>
                </div>
            </div>
            <hr>

            {{range .Interfaces}}
            <div class="row">
                <div class="col-md-5" >
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{.Name}}</strong></h5>
                            <h6>IP Address(es):</h6>
                            {{ $addrs := .IPAddresses }}
                            {{ range $addr := $addrs }}
                                <h6 class="ml-2">{{$addr}}</h6>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Status</strong></h5>
                            <button id="interface-{{.Name}}-test" type="button" onclick="checkInterface({{.Name}})" class="btn btn-primary mb-4">Test</button>
                            <h4 id="interface-{{.Name}}-indicator">&#x003F;</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Output</strong></h5>
                            <p style="white-space: pre-wrap;" id="interface-{{.Name}}-statustext"></p>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}

        </div>


        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
          function handleEnableChange(event) {
            event.preventDefault();
            var checkBox = event.target;
            var value = checkBox.checked;
            fetch("/online-state", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({online: value})
            })
              .then(function(response) {
                response.json().then(function(json) {
                  checkBox.checked = json["state"];
                  var message = $('#resultMessage');
                  if (!response.ok) {
                    // Display message
                    $("#resultMessage").text(json["result"]);
                    $('#resultMessage').show();
                  } else {
                    // Ensure any old messages are hidden
                    $("#resultMessage").text("");
                    $('#resultMessage').hide();
                  }
                });
              });
          }

          function checkInterface(interfaceName) {
            // Set status indicator
            var statusIndicator = document.getElementById("interface-" + interfaceName + "-indicator");
            statusIndicator.textContent = "...";
            // Clear output text
            var status = document.getElementById("interface-" + interfaceName + "-statustext");
            status.textContent = "";
            // Disable test button while waiting for response
            var button = document.getElementById("interface-" + interfaceName + "-test");
            button.disabled = true;
            console.log("/interface-status/" + interfaceName)
            fetch(
              "/interface-status/" + interfaceName,
              {method: "GET"}
            ).then(function(response) {
              return response.json();
            }).then(function(json) {
              status.textContent = json["result"];
              button.disabled = false;
              var state = json["status"];
              if (state === "down") {
                // Cross mark
                statusIndicator.innerHTML = "&#x2717;";
              } else if (state === "up") {
                // Check mark
                statusIndicator.innerHTML = "&#x2714;";
              } else {
                // Question mark
                statusIndicator.innerHTML = "&#x003F;";
              }
            });
          }
        </script>

    </body>
</html>
