<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WIfi Networks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>

    <body>
        {{template "navbar"}}


        <div class="container">
            <div class="container pt-5 pl-0">
                <h2>WIfi Networks<br></h2>
            </div>
            <form method="POST">
               <div class="col-md-12" >
                    <h5 class="card-title"><strong>Add a Network</strong></h5>
                    <div class="form-group">
                        <label for="text-ssid">Network Name (SSID)</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="text-ssid" name="ssid" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text-password">Password</label>
                        <div class="input-group">
                          <input type="password" class="form-control" id="text-password" name="password"  value="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

            <br>

            <h2>Current Networks<br></h2>
            <div class="row">
                 {{range .}}
                <div class="col-md-5 wifi-item" >
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{.Ssid}}</strong></h5>
                                {{if ne .Ssid "bushnet"}}
                                <a onclick="removeNetwork(this,{{.NetworkID}})" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-trash"></span>Remove 
                                </a>
                                {{end}}
                        </div>
                    </div>
                </div>
                {{end}}         
            </div>
        </div>


        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>

            function removeNetwork(domLink, id){
                fetch(
                    "/wifi-networks/" + id,
                    {method: "DELETE"}
                ).then(function(response) {
                    return response.text();
                }).then(function(result) {
                    console.log(result);
                    if(result == 1){
                        console.log($(domLink).closest(".wifi-item"));
                        $($(domLink).closest(".wifi-item")).remove()
                    }
                });
            }

        </script>

    </body>
</html>
